@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'helvetica medium';
  src: url(../fonts/HelveticaNeueCyr-Roman.ttf);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.container {
  max-width: 100%;
  padding: 0px 12px;
  margin: 0 auto;
}

.navbar {
  font-family: helvetica medium;
  font-weight: 600;
  color: #262626;
  font-style: normal;
  font-size: 13px;
}
